<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
    </head>
    <body>

    <div class="jumbotron text-xs-center">
		  <h1 class="display-3">Oops !</h1>
		  <%- message %>
	</div>
    </body>
</html>

<style>
    .jumbotron{
        height: 100%;
        padding-top: 16%;
        background: darkred;
        color: white;
    }
    .jumbotron p strong{font-weight: 200 !important;}
</style>
